* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir Next Regular", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

