* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir Next Regular", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}



#big-img-cont-1 {
    background-image: url(https://s7d2.scene7.com/is/image/aeo/20230708-aehp-25-off-purchase-lg?scl=1&amp;qlt=60&amp;fmt=jpeg);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 120vh;
    display: flex;
}

.empty-cont {
    width: 40%;
    height: 100%;
}

.fill-cont {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fill-cont h1 {
    font-size: 60px;
    font-weight: 1000;
    color: white;
    text-shadow: 10px 10px 2px rgba(49, 87, 148, 1);
    text-align: center;
}

.fill-cont>div {
    margin-top: -150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-cont>div>button {
    width: 22%;
    height: 60px;
    background-color: rgba(49, 87, 148, 1);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    margin: 20px;
}

.usecode {
    margin-top: -150px;
    color: white;
}

.code {
    color: black;
    background-color: white;
    padding: 5px;
}

.exclusions {
    margin-top: -150px;
    color: white;
}

#big-cont-2 {
    width: 100%;
    height: 45vh;
    background-color: rgba(49, 87, 148, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#big-cont-2>h1 {
    font-size: 50px;
    font-weight: 1000;
    color: white;
}

#big-cont-2>div {
    margin-top: -30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#big-cont-2>div>button {
    width: 15%;
    height: 60px;
    background-color: white;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    margin: 20px;
}

#big-img-cont-3 {
    background-image: url(https://s7d2.scene7.com/is/image/aeo/20230628-aehp-cargos-lg?scl=1&amp;qlt=60&amp;fmt=jpeg);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#big-img-cont-3>h1 {
    font-size: 100px;
    font-weight: 1000;
    color: white;
    text-shadow: 10px 10px 2px rgba(49, 87, 148, 1);
}

#big-img-cont-3>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#big-img-cont-3>div>button {
    width: 15%;
    height: 60px;
    background-color: rgba(49, 87, 148, 1);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    margin: 20px;
}

#big-img-cont-4 {
    background-image: url(https://s7d2.scene7.com/is/image/aeo/20230628-aehp-wtops-lg?scl=1&qlt=60&fmt=jpeg);
    background-size: 100% 100%;
    /* background-position: center; */
    width: 100%;
    height: 120vh;
}

#big-img-cont-4>h1 {
    width: 50%;
    font-size: 60px;
    font-weight: 1000;
    color: white;
    text-shadow: 10px 10px 2px rgba(49, 87, 148, 1);
    margin-left: 30px;
}

#big-img-cont-4>p {
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}

#big-img-cont-4>button {
    margin-top: 20px;
    margin-left: 30px;
    width: 20%;
    height: 60px;
    background-color: rgba(49, 87, 148, 1);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 30px;
}

#big-img-cont-5 {
    background-image: url(https://s7d2.scene7.com/is/image/aeo/20230628-aehp-mgraphics-lg?scl=1&qlt=60&fmt=jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

#big-img-cont-5>h1 {
    font-size: 60px;
    font-weight: 1000;
    color: white;
    text-shadow: 10px 10px 2px rgba(49, 87, 148, 1);
    margin-right: 30px;
    text-align: left;
}

#big-img-cont-5>p {
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-right: 30px;
}

#big-img-cont-5>button {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 30px;
    width: 20%;
    height: 60px;
    background-color: rgba(49, 87, 148, 1);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 30px;
}

#big-img-cont-6 {
    width: 100%;
}

#big-img-cont-6>img {
    width: 100%;
}

@media (max-width: 992px) {
    nav {
        display: none;
    }

    #alternatenav {
        display: block;
    }

    #big-img-cont-1 {
        background-image: url(https://s7d2.scene7.com/is/image/aeo/20230708-aehp-25-off-purchase-sm?scl=1&amp;qlt=60&amp;fmt=webp);
    }

    .empty-cont {
        display: none;
    }

    .fill-cont {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fill-cont h1 {
        font-size: 40px;
        margin: 0px;
    }

    .fill-cont>div {
        margin-top: 20px;
    }

    .fill-cont>div>button {
        width: 20%;
        height: 40px;
        font-size: 10px;
        margin: 5px;
    }

    .usecode {
        margin-top: 20px;
    }

    .exclusions {
        margin-top: 20px;
    }

    #big-cont-2 {
        width: 100%;
        height: 45vh;
        background-color: rgba(49, 87, 148, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #big-cont-2>h1 {
        font-size: 30px;
        text-align: center;
    }

    #big-cont-2>div>button {
        width: 25%;
        height: 40px;
        font-size: 15px;
    }

    #big-img-cont-3 {
        background-image: url(https://s7d2.scene7.com/is/image/aeo/20230628-aehp-cargos-sm?defaultImage=20230628-aehp-cargos-sm&amp;scl=1&amp;qlt=60&amp;fmt=webp);
        height: 50vh;
    }

    #big-img-cont-3>h1 {
        font-size: 50px;
    }

    #big-img-cont-3>div>button {
        width: 27%;
        height: 40px;
        font-size: 15px;
    }

    #big-img-cont-4 {
        background-image: url(https://s7d2.scene7.com/is/image/aeo/20230628-aehp-wtops-sm?scl=1&amp;qlt=60&amp;fmt=jpeg);
        background-size: 100% 100%;
        height: 60vh;
    }

    #big-img-cont-4>h1 {
        font-size: 35px;
        margin-left: 20px;
    }

    #big-img-cont-4>p {
        font-size: 10px;
        margin-left: 20px;
    }

    #big-img-cont-4>button {
        margin-left: 20px;
        width: 35%;
        height: 40px;
        font-size: 12px;
    }

    #big-img-cont-5 {
        background-image: url(https://s7d2.scene7.com/is/image/aeo/20230628-aehp-mgraphics-sm?scl=1&amp;qlt=60&amp;fmt=jpeg);
        height: 50vh;
    }

    #big-img-cont-5>h1 {
        font-size: 40px;
        margin-right: 20px;
        text-align: left;
    }

    #big-img-cont-5>p {
        text-align: left;
        font-size: 10px;
        margin-right: 20px;
    }

    #big-img-cont-5>button {
        margin-right: 20px;
        width: 45%;
        height: 40px;
        font-size: 12px
    }
}